/* Varibales */

:root {
    --color-primario: #222;
    --color-letra: #c6c6c6;
    --color-cuadro: #fff980;
    --color-boton: #9bdb41;
}

/* Estilos generales para dispositivos móviles */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-primario);
}

footer {
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    /* Alineación al centro */
}

li {
    text-align: center;
    /* Ajusta la alineación del contenido de cada li */
}


/* Estilos adicionales para pantallas pequeñas */


.container {
    width: 80%;
    margin: 1em auto 0;
    padding: 20px;
    text-align: center;
    background-color: var(--color-primario);
    color: var(--color-letra);
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

h1 {
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

label {
    display: block;
    margin-top: 20px;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.boton {
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    font-size: 18px;
    background-color: var(--color-boton);
    color: var(--color-primario);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.boton:hover {
    background-color: #bbff5d;
    /* Color de fondo al hacer hover */
    color: black;
    /* Color del texto al hacer hover */
}

.boton:active {
    background-color: #bbff5d;
    /* Color de fondo al hacer hover */
    color: black;
    /* Color del texto al hacer hover */
    box-shadow: none;
}


#clickButton {
    display: block;
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 20px auto;
    font-size: 18px;
    background-color: var(--color-cuadro);
    color: var(--color-primario);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}


#clickButton:hover {
    background-color: #8b4513;
}

#clickButton:active {
    background-color: #d2691e;
}

#secretButton {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    background-color: transparent;
    color: var(--color-letra);
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    color: var(--color-letra);
    background-color: #323232;
    border-radius: 1em;
}

#secretButton:hover {
    color: #f3dddd;
}

#secretButton.clicked {
    color: #f3dddd;
}

#secretButton.clicked+#secretContent {
    display: block;
}

/**/

.wrapper {
    text-align: center;
    display: none;
}

.wrapper span {
    font-weight: bold;
    color: #4b4b4b;
    animation: lighting 1000ms alternate infinite ease;
}

@keyframes lighting {

    0%,
    85% {
        color: #4b4b4b;
        text-shadow: none;
    }

    100% {
        color: #fff200;
        text-shadow: 0 0 5px #fff200, 0 0 3px #ff9f1a;
    }
}

.wrapper span:nth-child(1) {
    animation-delay: 150ms;
}

.wrapper span:nth-child(2) {
    animation-delay: 300ms;
}

.wrapper span:nth-child(3) {
    animation-delay: 450ms;
}

.video-container {
    margin-top: 20px;
}

.video-container video {
    width: 100%;
    height: auto;
}


@media screen and (min-width: 1024px) {
    .video-container video {
        width: 42vh;
        height: auto;
    }
}